.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 72px;
  position: absolute;
  width: -webkit-fill-available;
  z-index: 10;
  flex-wrap: wrap;
}

.navbar-brand-container {
  display: flex;
}

.octo-logo {
  width: 32px;
  height: 32px;
  margin: auto 10px;
}

.logo-button {
  font-family: "body-grotesque-large-bold";
  color: white;
  font-size: 32px;
}

.navbar-buttons {
  display: flex;
  gap: 30px;
}

.navbar-button {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease;
  font-family: "jumper-regular";
}

.quote-button {
  background-color: #464e21;
  margin: 0px 0px 0px 30px;
  border: 0;
  color: #d2aae4;
  padding: 12px 20px;
  font-family: "basic-sans-semi-bold";
  font-size: 14px;
}
