.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: pink;
  }
  
  .navbar-buttons {
    display: flex;
    gap: 10px;
  }
  
  .navbar-button {
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .quote-button {
    background-color: green;
    border: 0;
    color: purple;
    padding: 8px 15px;
  }
  