@font-face {
  font-family: "jumper-bold";
  src: url("./assets/fonts/JumperBold.ttf") format("truetype");
}

@font-face {
  font-family: "jumper-regular";
  src: url("./assets/fonts/JumperRegular.ttf") format("truetype");
}

@font-face {
  font-family: "jumper-light";
  src: url("./assets/fonts/JumperLight.ttf") format("truetype");
}

@font-face {
  font-family: "jumper-thin";
  src: url("./assets/fonts/JumperThin.ttf") format("truetype");
}

@font-face {
  font-family: "district-pro-black";
  src: url("./assets/fonts/DistrictProBlack.otf") format("truetype");
}

@font-face {
  font-family: "body-grotesque-large-bold";
  src: url("./assets/fonts/BodyGrotesqueLargeRegular.ttf") format("truetype");
}

@font-face {
  font-family: "lota-grotesque-alt2-bold";
  src: url("./assets/fonts/LotaGrotesqueAlt2Bold.otf") format("truetype");
}

@font-face {
  font-family: "makro-black";
  src: url("./assets/fonts/MakroBlack.otf") format("truetype");
}

@font-face {
  font-family: "basic-sans-semi-bold";
  src: url("./assets/fonts/BasicSansSemiBold.ttf") format("truetype");
}

body {
  font-family: "jumper-regular", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


